@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway&display=swap');

body{
    background-color:#4586c7 !important;
    font-family: Raleway;
}
#container {
    height: auto;
    margin:40px auto;
    text-align: center;
    background: white;
    height: 650px;
    overflow-y: auto;
    color:black;
    border:1px solid #01a3a4;
    box-shadow: 0px 0px 20px 1px #01a3a4;
    border-radius: 10px;
}
#container h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Caveat;
}

#container ul{
    margin:30px 0px;
    padding-left: 0;
}

#container ul li{
    list-style:none;
    border:2px solid #b5c5dd;
    width: 70%;
    transition: opacity 0.5s ease-in-out;
    height: 40px;
    margin: 10px auto;
    text-align: left;
}

#container ul li label{
    margin: 0 auto;
    vertical-align: middle;
    height: 100px;
    line-height: 40px;
    font-size: 18px;
}

#container ul li #check{
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    -webkit-appearance: none;
    border: 2px solid #b5c5dd;
    position: relative;
    outline: 0;
    line-height: initial;
}

#container ul li #check:checked:after{
    content:'\2714';
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 7px;
    color: black;
}

#container ul li input[type="checkbox"]:checked+label{
    text-decoration: line-through;
    color:rgba(0,0,0,0.3);
}
#container .controls{
    width: 60%;
    margin: auto;
    text-align: center;
}

#container .controls #input{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 7px;
    border:2px solid #b5c5dd;
}
#container .controls #input:focus{
    outline: 0;
}
#container .controls button{
    width:100%;
    background: white;
    border: none;
    margin-bottom: 7px;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}
#container .controls button:focus{
    outline: 0;
}

#container .controls button:hover{
    transform: scale(1.05);
}
#container .controls #add{
    background-color: #2980b9;
    border-radius: 10px;
}
#container .controls #remove{
    background-color: #c0392b;
    border-radius: 10px;
}
#container .controls #reset{
    background-color: yellowgreen;
    border-radius: 10px;
}

#container .mycheck{
    opacity:1px;
    border-radius:10px;
}

.visual{
    opacity:1 !important;
    border-radius:10px;
}

#container .copyright{
    
    position: relative;
    
    
    font-size: 10px;
    

}

#empty-warning {
    color: silver;
    
}